
:root {
    --primary-color: #4a90e2;
    --secondary-color: #f5a623;
    --background-color: #f8f9fa;
    --text-color: #333;
    --light-text-color: #6c757d;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    line-height: 1.6;
    padding-top: 56px; /* Để tránh nội dung bị che bởi navbar cố định */
}

/* Navbar styles */
.navbar {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    transition: all 0.3s ease;
}

.navbar-brand {
    font-weight: 700;
    color: var(--primary-color) !important;
}

.nav-link {
    color: var(--text-color) !important;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--primary-color) !important;
}